.tabs-nav {
	width: 100%;
    position: relative;
    left: 0;
    display: block;
    float: left;

    & > li {
        float: left;
        & > a.navbar-icon {
            display: block;
            float: left;
        }
        & > a {
            float: none;
            text-decoration: none;
        }
    }
}

.tabbable {
    *zoom: 1;

    &:before, &:after {
        display: table;
        line-height: 0;
        content: "";
    }

    &:after {
        clear: both;
    }

    .tab-content {
        overflow: auto;
		width: 100%;

        & > .tab-pane {
            display: none;
        }

		& > .active {
            display: block;
        }
    }
}